{% extends "base.html" %}
{% block content %}
<nav id="navbar">
    <ul>
        <li><a href="{{ url_for('doctor.confirmed_appointments') }}">See all confirmed appointments</a></li>
        <li><a href="{{ url_for('doctor.requested_appointments') }}">See appointment requests</a></li>
        <li><a href="{{ url_for('doctor.patients') }}">See all patients</a></li>
    </ul>
</nav>
<h1>{% block title %}Add Note{% endblock title %}</h1>
<form method="post" id="add-note" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.patient.label }} {{ form.patient() }}
    {{ form.note.label }} {{ form.note() }}
    {{ form.attachement.label }} {{ form.attachement() }}
    <button type="submit">Add Note</button>
</form>
{% endblock content %}