{% extends "base.html" %}
{% block nav %}
    <li><a href="{{ url_for('doctor.dashboard') }}">Dashboard</a></li>
    <li><a href="{{ url_for('appointments.confirmed_appointments', user_type='doctor') }}">See all confirmed appointments</a></li>
    <li><a href="{{ url_for('appointments.requested_appointments', user_type='doctor') }}">See appointment requests</a></li>
    <li><a href="{{ url_for('doctor.patients') }}">See all patients</a></li>
    {% if current_user.access_level == 'STAFF' %}
    <li><a href="{{ url_for('note.notes', user_id=current_user.id) }}">See all notes</a></li>
    {% endif %}
    <li><a href="{{ url_for('appointments.book_appointment') }}">Book an appointment</a></li>
    <li><a href="{{ url_for('medical_rooms.add_medical_room') }}">Add medical room</a></li>
{% endblock nav %}
{% block content %}
<h1>{% block title %}Add Note{% endblock title %}</h1>
<form method="post" id="add-note" enctype="multipart/form-data">
    {{ form.csrf_token }}
    {{ form.patient.label }} {{ form.patient() }}
    {{ form.note.label }} {{ form.note() }}
    {{ form.date.label }} {{ form.date() }}
    {{ form.attachement.label }} {{ form.attachement() }}
    <button type="submit">Add Note</button>
</form>
{% endblock content %}