{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock title %}

{% block content %}
<h1>Welcome to the Admin Dashboard</h1>

<div class="admin-sections">
    <section class="user-management">
        <h2>User Management</h2>
        <ul>
            <li><a href="{{ url_for('admin.add_user') }}">Add New User</a></li>
            <li><a href="{{ url_for('admin.delete_user') }}">Delete User</a></li>
            <li><a href="{{ url_for('admin.block_user', user_email=user.email) }}">Block</a></li>
            <li><a href="{{ url_for('admin.change_user_role') }}">Change User Role</a></li>
            {% if current_user.access_level == 'ADMIN' %}
            <li><a href="{{ url_for('users.users_roles') }}">See all users</a></li>
            {% endif %}
        </ul>
    </section>
</div>
{% endblock content %}
