{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock title %}

{% block content %}
<h1>Welcome to the Admin Dashboard</h1>
<h2>See all users and their roles</h2>
<table id="users-table">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Manage</th>
        </tr>
    </thead>
{% for user in users %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.access_level }}</td>
        <td>
            <button><a href="{{ url_for('admin.delete_user', email=user.email) }}">Delete User</a></button>
            <button><a href="{{ url_for('admin.block_user', email=user.email) }}">Block</a></button>
            <button><a href="{{ url_for('admin.change_user_role', email=user.email) }}">Change User Role</a></button>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}