{% extends 'base.html' %}

{% block title %}
Admin Dashboard
{% endblock title %}

{% block content %}
<h1>Welcome to the Admin Dashboard</h1>

<div class="admin-sections">
    <section class="user-management">
        <h2>User Management</h2>
        <ul>
            <li><a href="{{ url_for('admin_view.add_user') }}">Add New User</a></li>
            <li><a href="{{ url_for('admin_view.delete_user') }}">Delete User</a></li>
            <a href="{{ url_for('admin_view.block_user', user_email=user.email) }}">Block</a>
            <li><a href="{{ url_for('admin_view.change_user_role') }}">Change User Role</a></li>
        </ul>
    </section>
</div>
{% endblock content %}
