{% extends "base.html" %}
{% block content %}

<h1>Book Appointment</h1>

<form method="post">   
    {{ form.csrf_token }}
    {{ form.patient.label }} {{ form.patient() }}
    {{ form.doctor.label }} {{ form.doctor() }}
    {{ form.appointment_time.label }} {{ form.appointment_time() }}
    {% if current_user.access_level != 'PATIENT' and current_user.access_level != 'ADMIN_USER' %}
        {{ form.location.label }} {{ form.location() }}
    {% endif %}
    {{ form.description.label }} {{ form.description() }}
    <input type="submit" />
</form>
{% endblock content %}