{% extends "base.html" %}
{% block content %}
<ul>
    {% for appointment in appointments %}
    <li><a href="{{ url_for('appointments.get_appointment', id=appointment.u) }}">{{ address }}</a></li>
    {% endfor %}
</ul>

<form method="post">
    {{ form.csrf_token }}
    {{ form.id.label }} {{ form.id() }}
    {{ form.patient_id.label }} {{ form.patient_id() }}
    {{ form.doctor_id.label }} {{ form.doctor_id() }}
    {{ form.appointment_time.label }} {{ form.appointment_time() }}
    {{ form.status.label }} {{ form.status() }}
    {{ form.location.label }} {{ form.location() }}
    {{ form.description.label }} {{ form.description() }}
    <input type="submit" />
</form>
{% endblock body %}