<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>{% block title %}Document{% endblock title %}</title>
    {% block header %}{% endblock header %}
</head>
<body>
    <header class="header">
        <h1 id="titlePage">First Responders</h1>
        <nav id="navbar">
            <ul>
                <li id="user-icon">
                    <img src="{{ url_for('static', filename='avatar.jpeg') }}" alt="User Avatar" class="avatar" onclick="toggleDropdown()" width="32" height="32">  <!-- Added width and height -->
                    <div id="user-dropdown" class="dropdown hidden">
                        <a href="{{ url_for('auth.login') }}">Login</a>
                        <a href="{{ url_for('auth.signup') }}">Sign Up</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    {% block content %}{% endblock content %}

    {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <div class="flash-messages">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <footer class="footer">
        Copyright © 2024
    </footer>
</body>
</html>
