{% extends "base.html" %}

{% block title %}
Delete User
{% endblock title %}

{% block content %}
<h1>Delete User</h1>

<form method="post">
    {{ form.hidden_tag() }}

    {{ form.email.label }}
    {{ form.email() }}

    {{ form.submit() }}
</form>

{% if messages %}
<div class="feedback-messages">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}

<p><a href="{{ url_for('admin.admin_dashboard') }}">Back to Admin Dashboard</a></p>
{% endblock content %}
