{% extends "base.html" %}

{% block nav %}
    <li><a href="{{ url_for('doctor.dashboard') }}">Dashboard</a></li>
    <li><a href="{{ url_for('appointments.confirmed_appointments', user_type='doctor') }}">See all confirmed appointments</a></li>
    <li><a href="{{ url_for('appointments.requested_appointments', user_type='doctor') }}">See appointment requests</a></li>
    <li><a href="{{ url_for('doctor.patients') }}">See all patients</a></li>
    {% if current_user.access_level == 'STAFF' %}
    <li><a href="{{ url_for('note.notes', user_id=current_user.id) }}">See all notes</a></li>
    {% endif %}
    <li><a href="{{ url_for('appointments.book_appointment') }}">Book an appointment</a></li>
{% endblock nav %}
{% block content %}

    <h1>{% block title %}Doctor Dashboard{% endblock title %}</h1>
    <main>
        Welcome to your dashboard
        <h3><a href="{{ url_for('note.add') }}">Add Note</a></h3>
    </main>
{% endblock content %}