{% extends "base.html" %}
{% block content %}
<h1>{% block title %}Doctor Appointments{% endblock title %}</h1>
    <dl id="doctor-appointments">
        {% for appointment in appointments %}
            {% set patient=get_db().get_user_by_id(appointment.patient_id) %}
            <dt>Appointment with {{ patient.first_name }} {{ patient.last_name }}</dt>
            <dd>Appointment at {{ appointment.appointment_time }} in room {{ appointment.location }}.</dd>
            <dd>Reason for appointment: {{ appointment.description }}.</dd>
        {% endfor %}
    </dl>
{% endblock content %}