{% extends "base.html" %}
{% block content %}
    <nav id="navbar">
        <ul>
            <li><a href="{{ url_for('home.index') }}">Home</a></li>
            <li><a href="{{ url_for('appointments.get_appointments') }}">Appointments</a></li>
            <li><a href="{{ url_for('doctor.dashboard') }}">Doctor Dashboard</a></li>
            <li><a href="{{ url_for('admin.admin_dashboard') }}">Admin Dashboard</a></li>
        </ul>
    </nav>
    <h1>
        {% block title %}Home{% endblock title %}
    </h1>
{% endblock content %}
