{% extends "base.html" %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
{% endblock header %}
{% block content %}

<h2>Login</h2>
<form method="post" >
    {{ form.csrf_token }}
        {{ form.email.label }} {{ form.email() }}
        {% for error in form.email.errors %}
            <small class="error-message">{{ error }}</small>
        {% endfor %}
        {{ form.password.label }} {{ form.password() }}
        {% for error in form.password.errors %}
            <small class="error-message">{{ error }}</small>
        {% endfor %}
    <input type="submit" value="Login">
</form>

{% endblock content %}
