{% extends "base.html" %}
{% block scripts %}
<script src="{{ url_for('static', filename='attachement_download.js') }}"></script>
{% endblock scripts %}
{% block content %}

<nav id="navbar">
    <ul>
        <li><a href="{{ url_for('appointments.confirmed_appointments') }}">See all confirmed appointments</a></li>
        <li><a href="{{ url_for('appointments.requested_appointments') }}">See appointment requests</a></li>
        <li><a href="{{ url_for('doctor.patients') }}">See all patients</a></li>
    </ul>
</nav>
<h1>{% block title %}Notes{% endblock title %}</h1>
<ul id="note">
        <li>Note taker: {{ note.note_taker.first_name }} {{ note.note_taker.last_name }}</li>
        <li>Patient: {{ note.patient.first_name }} {{ note.patient.last_name }}</li>
        <li>Note date: {{ note.note_date }}</li>
        <li>Note: {{ note.note }}.</li>
        <button id="download-attachements" data-attachements="{{ note.attachement_path }}">Download PDF file</button>
</ul>

{% endblock content %}