{% extends "base.html" %}
{% if current_user.access_level == 'STAFF' %}
{% block nav %}
    <li><a href="{{ url_for('appointments.confirmed_appointments') }}">See all confirmed appointments</a></li>
    <li><a href="{{ url_for('appointments.requested_appointments') }}">See appointment requests</a></li>
    <li><a href="{{ url_for('doctor.patients') }}">See all patients</a></li>
    <li><a href="{{ url_for('note.notes', user_id=current_user.id) }}">See all notes</a></li>
{% endblock nav %}
{% endif %}
{% block content %}
<h1>{% block title %}Notes{% endblock title %}</h1>
<ul id="notes">
    {% for note in notes %}
        <li>Note taker: {{ note.note_taker.first_name }} {{ note.note_taker.last_name }}</li>
        <li>Patient: {{ note.patient.first_name }} {{ note.patient.last_name }}</li>
        <li>Note date: {{ note.note_date }}</li>
        <li>Note: {{ note.note }}.</li>
        <li><a href="{{ url_for('note.note', note_id=note.id) }}">View full note</a></li>
    {% endfor %}
</ul>
{% if current_user.access_level == 'STAFF' %}
    <h3><a href="{{ url_for('note.add') }}">Add Note</a></h3>
{% endif %}

{% endblock content %}