{% extends "base.html" %}

{% block nav %}
    {% set user = "patient" %}
    {% if current_user.access_level == 'STAFF' %}
        {% set user = "doctor" %}
        <li><a href="{{ url_for('doctor.dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('doctor.patients') }}">See all patients</a></li>
        <li><a href="{{ url_for('note.notes', user_id=current_user.id) }}">See all notes</a></li>
    {% else %}
        <li><a href="{{ url_for('patient.dashboard') }}">Dashboard</a></li>
    {% endif %}
    <li><a href="{{ url_for('appointments.book_appointment') }}">Book an appointment</a></li>
    <li><a href="{{ url_for('patient.update_patient') }}">Update Details</a></li>
    <li><a href="{{ url_for('patient.view_patient') }}">View Details</a></li>
    <li><a href="{{ url_for('appointments.confirmed_appointments', user_type=user) }}">See all confirmed appointments</a></li>
    <li><a href="{{ url_for('appointments.requested_appointments', user_type=user) }}">See appointment requests</a></li>
{% endblock nav %}

{% block content %}
<div>
    <h1>Your Details</h1>
    <p>Name: {{ patient.first_name }} {{ patient.last_name }}</p>
    <p>Date of Birth: {{ patient.dob }}</p>
    <p>Blood Type: {{ patient.blood_type }}</p>
    <p>Height: {{ patient.height }}</p>
    <p>Weight: {{ patient.weight }}</p>
</div>

<div>
    <h2>Allergies</h2>
    {% if patient.allergies %}
    <ul>
        {% for allergy in patient.allergies %}
        <li>{{ allergy.name }}: {{ allergy.description }}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No allergies recorded.</p>
    {% endif %}

</div>
{% endblock content %}