{% extends "base.html" %}
{% block content %}
<nav id="navbar">
    <ul>
        <li><a href="{{ url_for('doctor.confirmed_appointments') }}">See all confirmed appointments</a></li>
        <li><a href="{{ url_for('doctor.requested_appointments') }}">See appointment requests</a></li>
        <li><a href="{{ url_for('doctor.patients') }}">See all patients</a></li>
    </ul>
</nav>
<h1>{% block title %}Doctor Patients{% endblock title %}</h1>
    <h2>Patient Info</h2>
    <p>Name: {{ patient.first_name }} {{ patient.last_name }}</p>
    <p>weight: {{ patient.weight }}</p>
    <p>email: {{ patient.email }}</p>
    <p>Date of birth: {{ patient.dob }}</p>
    <p>blood_type: {{ patient.blood_type }} </p>
    <p>height: {{ patient.height }}</p>
    <dl id="patient-notes">
        {% for note in notes %}
            <dt>Note date: {{ note_date }}</dt>
            <dd>Note: {{ note.note }}.</dd>
        {% endfor %}
    </dl>
{% endblock content %}