{% extends "base.html" %}
{% if current_user.access_level == 'PATIENT' %}
{% block nav %}
        <li><a href="{{ url_for('patient.patient_dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('appointment.view_appointments') }}">View Appointments</a></li>
        <li><a href="{{ url_for('patient.update_patient') }}">Update Details</a></li>
        <li><a href="{{ url_for('patient.view_patient') }}">View Details</a></li>
{% endblock nav %}
{% endif %}
{% block content %}
<h2>Your Appointments</h2>
<div>
    <h3>Welcome, {{ current_user.first_name }}!</h3>
</div>
{% for status in ['pending', 'accepted', 'denied'] %}
<div>
    <h4>{{ status.capitalize() }} Appointments:</h4>
    <ul>
        {% for appointment in appointments %}
        {% if appointment.status == status %}
        <li>
            <strong>Date:</strong> {{ appointment.date }} | 
            <strong>Doctor:</strong> {{ appointment.doctor.name }} | 
            <strong>Location:</strong> {{ appointment.location }} | 
            <strong>Description:</strong> {{ appointment.description }}
            {% if status == 'pending' %}
            <!-- | <a href="{{ url_for('appointments.update', appointment_id=appointment.id) }}">(Update)</a> -->
            {% endif %}
        </li>
        {% endif %}
        {% endfor %}
    </ul>
</div>
{% endfor %}
{% endblock content %}