{% extends "base.html" %}
{% block title %}
Profile
{% endblock title %}
{% block content %}
<h1>Profile</h1>
<p>Email: {{ current_user.email }}</p>
<p>First Name: {{ current_user.first_name }}</p>
<p>Last Name: {{ current_user.last_name }}</p>
<p>User Type: {{ current_user.access_level }}</p>

<div class="api-token-link">
    <a href="{{ url_for('auth.changeavatar') }}">Change Avatar</a>
</div>

<div class="api-token-link">
    <a href="{{ url_for('auth.changepassword') }}">Change Password</a>
</div>

<div class="api-token-link">
    <a href="{{ url_for('auth.user_api_token') }}">Generate API Token</a>
</div>

{% endblock content %}