{% extends "base.html" %}
{% block content %}
<h1>{% block title %}Requested Appointment{% endblock title %}</h1>
    {% set patient=get_db().get_user_by_id(appointment.patient_id) %}
    <h2>Appointment with {{ patient.first_name }} {{ patient.last_name }}</h2>
    <p>Appointment at {{ appointment.appointment_time }} in room {{ appointment.location }}.</p>
    <p>Reason for appointment: {{ appointment.description }}.</p>
    <form method="post" id="appointment-confirmation-form">
        {{ form.csrf_token }}
        {{ form.select_confirmation.label }} {{ form.select_confirmation() }}
        <button type="submit">Confirm status</button>
    </form>
{% endblock content %}