{% extends "base.html" %}
{% if current_user.access_level == 'PATIENT' %}
{% block nav %}
    <li><a href="{{ url_for('patient.patient_dashboard') }}">Dashboard</a></li>
    <li><a href="{{ url_for('appointments.view_appointments') }}">View Appointments</a></li>
    <li><a href="{{ url_for('patient.update_patient') }}">Update Details</a></li>
    <li><a href="{{ url_for('patient.view_patient') }}">View Details</a></li>
    <li><a href="{{ url_for('appointments.confirmed_appointments', user_type='patient') }}">See all confirmed appointments</a></li>
        <li><a href="{{ url_for('appointments.requested_appointments', user_type='patient') }}">See appointment requests</a></li>
{% endblock nav %}
{% endif %}
{% block content %}
<div>
    <h1>Update Your Details</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.dob.label }} {{ form.dob() }}
        {{ form.blood_type.label }} {{ form.blood_type() }}
        {{ form.height.label }} {{ form.height() }}
        {{ form.weight.label }} {{ form.weight() }}
        {{ form.allergies.label }} {{ form.allergies() }}
        <button type="submit">Update</button>
    </form>
</div>
{% endblock content %}
