{% extends "base.html" %}
{% block nav %}
    {% set user = "patient" %}
    {% if current_user.access_level == 'STAFF' %}
        {% set user = "doctor" %}
        <li><a href="{{ url_for('doctor.dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('doctor.patients') }}">See all patients</a></li>
        <li><a href="{{ url_for('note.notes', user_id=current_user.id) }}">See all notes</a></li>
    {% else %}
        <li><a href="{{ url_for('patient.dashboard') }}">Dashboard</a></li>
    {% endif %}
    <li><a href="{{ url_for('patient.update_patient') }}">Update Details</a></li>
    <li><a href="{{ url_for('patient.view_patient') }}">View Details</a></li>
    <li><a href="{{ url_for('appointments.confirmed_appointments', user_type=user) }}">See all confirmed appointments</a></li>
    <li><a href="{{ url_for('appointments.requested_appointments', user_type=user) }}">See appointment requests</a></li>
{% endblock nav %}
{% block content %}
<div>
    <h1>Update Your Details</h1>
    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.dob.label }} {{ form.dob() }}
        {{ form.blood_type.label }} {{ form.blood_type() }}
        {{ form.height.label }} {{ form.height() }}
        {{ form.weight.label }} {{ form.weight() }}
        {{ form.allergies.label }} {{ form.allergies() }}
        <button type="submit">Update</button>
    </form>
</div>
{% endblock content %}
